<!DOCTYPE html>
<html lang="fr" ng-app="app" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Citydata</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/custom-style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    </head>
    <body class="container-fluid" style="background-color: #0b164e;">
        <div class="row">
             <ng-view></ng-view>
        </div>
    </body>

    <script type="text/ng-template" id="ZoneInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()">&times;</button>
            <h4 class="modal-title text-center">{{items}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-push-1 col-sm-push-1 col-lg-10 col-sm-10">
                    <form role="form" id="destForm" ng-submit="process()" class="form-inline">
                        <div ng-repeat="service in services_family track by $index">
                            <div class="custom-label">
                                <label for="example-text-input" class="col-form-label">{{service.family}}</label>
                            </div>
                                <div class="custom-progress">
                                    <div class="progress" >
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{service.pourcentage}}"
                                        aria-valuemin="0" aria-valuemax="100" style="width:{{service.pourcentage}}%">
                                            {{service.pourcentage}}%
                                        </div>
                                    </div>
                                    <div ng-repeat="s in service.services">
                                       <label class="service-label">{{s.title}}({{s.number}})</label>
                                    </div>
                                </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/leaflet/dist/leaflet.js"></script>
        <script src="lib/angular-leaflet-directive.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controller/data_controller.js"></script>
        <script src="app/controller/points_controller.js"></script>
        <script src="app/factory/areas_factory.js"></script>
        <script src="app/factory/services_factory.js"></script>
        <script src="app/factory/geographical_data_factory.js"></script>
        <script src="app/factory/public_areas_factory.js"></script>
        <script src="app/factory/data_factory.js"></script>
        <script src="app/factory/families_factory.js"></script>
        <script src="lib/checklist-model.js"></script>
</html>
