<!DOCTYPE html>
<html lang="fr" ng-app="app" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Citydata</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/custom-style.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    </head>

    <body class="container-fluid" style="background-color: #0b164e;"> 
        <div class="row">
            <ng-controller ng-controller="DataController" id='data' >
                <div class="col-lg-4 col-md-5 col-xs-12">
                    <div class="row logo-space">
                        <img class="logo" src="img/logo.png">
                    </div>

                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                            <div class="row" style="color: #ddd;    font-weight: bold;">
                                <div ng-repeat="family in familiesList">
                                        <div class="col-xs-6 checkboxs">
                                            <input type="radio" name="famille" ng-model="selected" value="{{family}}" ng-change="getChecked(selected)"/>{{family.description}}
                                            <!--<input type="checkbox" checklist-model="selected.families" checklist-value="family"/> {{family.description}}-->
                                            <br/>
                                        </div>
                                </div>
                            </div><br/>

                            <!--<div class="row">
                                <div class="col-lg-4 col-sm-4  col-sm-offset-0 col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-block" ng-click="checkAll()">Check all</button>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-danger btn-block" ng-click="uncheckAll()">Uncheck all</button>
                                </div>
                                <div class="col-lg-offset-0 col-lg-4 col-sm-offset-0 col-sm-4 col-xs-8 col-xs-offset-2">
                                    <a href="#" class="btn btn-success btn-block" ng-click="changeFamilies()">Submit</a>
                                </div>
                            </div>-->
                            <!-- {{selected.families}} -->
                        </div>
                    </div><br/>

                    <div class="row bottom-menu">
                        <div class="col-xs-offset-1 col-xs-10">
                            <button class="btn btn-block" ng-click="">Ajouter un point</button>
                        </div><br/><br/>

                        <div class="col-xs-offset-1 col-xs-10">
                            <button class="btn btn-block" ng-click="">S'authentifier</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-7 col-xs-12">
                    <ng-view></ng-view>
               </div>
            </ng-controller>
        </div>
    </body>

    <script type="text/ng-template" id="ZoneInfoModal.html">
        <div class="modal-header">
            <button type="button" class="close"  ng-click="cancel()">&times;</button>
            <h4 class="modal-title text-center">{{item}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-push-2 col-sm-push-2 col-lg-8 col-sm-8">
                    <form role="form" id="destForm" ng-submit="process()" class="form-horizontal">
                        <fieldset>
                            <div ng-repeat="service in services">{{service.title}} : {{service.pivot.number}}</div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/leaflet/dist/leaflet.js"></script>
        <script src="lib/angular-leaflet-directive.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controller/data_controller.js"></script>
        <script src="app/factory/areas_factory.js"></script>
        <script src="app/factory/area_services_factory.js"></script>
        <script src="app/factory/public_areas_factory.js"></script>
        <script src="app/factory/data_factory.js"></script>
        <script src="app/factory/families_factory.js"></script>
        <script src="lib/checklist-model.js"></script>
</html>
