.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.map {
    width: 100% !important;
    height: 100vh !important;
}
.map-container
{
        padding: 0px;
}
.leaflet-left .leaflet-control {
    margin-left: 100px !important;
}

label.control-label {
    color: white;
}

.logo {
    border-radius: 50%;
    width: 50%;
    margin: 50px auto;
}

.bottom-menu {
    padding: 60px 0;
}

.logo-space {
    text-align: center;
}


a.btn {
  background-color: #c0c0c0;
  border-radius: 5px;
  color: #333333;
  text-align: center;
  padding: .5em;
  margin-bottom: 1em;
  text-decoration: none;
}

a.btn:hover {
  text-decoration: none;
  color: #333333;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 240px) {
    .map {
        position: relative !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 991px) {
    .map {
        position: fixed !important;
    }
}


.custom-progress {
    width: 50%;
    display: inline-block;
   margin-bottom: 18px;
}
.progress {
    margin-bottom: 0px !important;
}
.custom-label {
    width: 46%;
    float: left;
    display: inline-block;
}

.options .custom-label {
    width:  65%;
}

.options .custom-progress
{
    width: 20%;
}

.options{
    margin-bottom: 10px
}
.progress {
    height: 25px;
}

.progress-bar {
    color: #555;
    line-height: 25px;
}
.service-label{
     float: left;
    font-size: 12px;
    font-family: initial;
    margin-right: 5px;
    margin-bottom: 0px;
}
.modal-content {
    height: 540px;
    overflow-y: scroll;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.sidebar {
                position : absolute;
                top : 0;
                left : -160px;;
                transition : 100ms left;
            }
            #navigation-toggle {
                    float: left;
                    color: white;
                    text-decoration: none;
                    padding: 11px;
                    position: absolute;
                    z-index: 999;

            }
            .show {
                left : 0;
            }
            .navigation {
                list-style : none;
                padding : 0;
                margin : 0;
            }
            .navigation-items a {
                display : block;
                background-color : #444;
                color : white;
                line-height : 2em;
                text-decoration : none;
                padding : 10px 30px;
                width : 100px;

            }
            .navigation-items a:hover {
                background-color : #222;
            }
            #navigation-toggle div{
                    width: 29px;
                    height: 3px;
                    background-color: white;
                    margin: 6px 0;
            }
            .nav-toggle
            {
                    height: 100%;
                    z-index: 9999;
                    width: 6%;
                    position: absolute;
                    background: rgb(11, 22, 78);
            }
            .blue-sidebar {
                background-color: #0b164e;
            }
            .famille_check
            {
                color: #ddd; 
                font-weight: bold;
            }
            .radio, .checkbox {
                margin-bottom: 0px;
            }
            .radio label, .checkbox label {
                font-weight: bold;
            }
  