.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.map {
    width: 100% !important;
    height: 100vh !important;
}

body {
    background-color: #4887bd;
}

.logo {
    border-radius: 50%;
    width: 50%;
    margin: 50px auto;
}

.bottom-menu {
    padding: 60px 0;
}

.logo-space {
    text-align: center;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 240px) {
    .map {
        position: relative !important;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 991px) {
    .map {
        position: fixed !important;
    }
}

.custom-progress {
    width: 50%;
    display: inline-block;
}
.custom-label {
    width: 46%;
    float: left;
    display: inline-block;
}
.progress {
    height: 25px;
}

.progress-bar {
    color: #555;
    line-height: 25px;
}
.service-label{
     float: left;
    font-size: 12px;
    font-family: initial;
    margin-right: 5px;
    margin-bottom: 0px;
}
.modal-content {
    height: 540px;
    overflow-y: scroll;
}